<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.RemoveFromCart"/>
      <class name="tests.AddToCart"/>
      <class name="tests.AddToCompare"/>
      <class name="tests.Search"/>
      <class name="tests.LoginLogout"/>
      <class name="tests.InvalidLoginLogout"/>
      <class name="tests.VerifyAppOpened"/>
      <class name="tests.AddToWishList"/>
      <class name="tests.DeliveryDate"/>
      <class name="tests.SearchAndAddToCart"/>
      <class name="tests.RemoveFromWishList"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
